<!DOCTYPE html>
<html lang="en">

<head>
  <title>Safe Water API</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>

<body>

  <div id="flash_messages" class="flash_style">
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>
  </div>

  <%= render 'links' %>

  <%= yield %>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

</html>
